html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  min-height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

